@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::root{
    --button-one: #0078d4;
    --button-two: #0069b9;
}
body {
    background-color: #0D1117;
    margin-left: 100px;
    margin-right: 100px;
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 15px 50px;
    /* border: 2px solid #ffffff; */
}

.header-logo img{
    /* display: block; */
    width: 20px;
    height: 20px;
}

.header-logo span {
    font-size: 18px;
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 600;
}

.left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.left ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid #f10303; */
    width: 600px;
}

.left ul li {
    list-style: none;
    font-weight: 500;
    font-size: 15px;
}

.left ul a {
    text-decoration: none;
    color: #aca7a7;
}

.left ul a:hover {
    color: #C3D0E5;
}

.header-search {
    /* border: 2px solid #f10303; */
    position: relative;
    padding: 5px 10px;
}

.header-search input {
    border: 1px solid #7d7b7b;
    border-radius: 3px;
    padding: 5px 10px;
    color: #aca7a7;
    background-color: #1f1a1a;
}

.header-search #down{
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    background-color: #0078d4;
    padding: 5px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header-search #down:hover {
    background-color: #0069b9;
}

main {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #C3D0E5;
    /* border: 2px solid #f10303; */
}

main h1 {
    font-size: 70px;
    font-weight: 600;
    margin-left: 50px;
    margin-right: 50px;
    width: 800px;
    text-align: center;
}

#main-content .hero-content .download {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 50px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #0078d4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#main-content .hero-content .download:hover{
    background-color: #0069b9;
}

.hero-content p {
    /* border: 2px solid #f10303; */
    font-size: 12px;
    text-align: center;

}

/* Hero video styling */

#hero-video {
    /* border: 2px solid #f10303;/ */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-video .video {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* border: 2px solid #f10303; */
    margin-top: 50px;
    width: 100%;
    height: 60%;
    background: url('./img/hero-background.webp');
    border: none;
    border-radius: 30px;
}

#hero-video .video video{
    padding: 20px 0px;
    width: 80%;
    /* height: 60%; */
    border-radius: 10px;
}

#hero-video #playPauseButton {
    align-self: center;
    margin-top: 20px;
    padding: 6px 18px;
    border: none;
    border-radius: 4px;
    color: #9BA3B4;
    background-color: transparent;
    font-size: 20px;
    font: 400;
    border: 3px solid transparent;
    border-radius: 6px;
    transition: ease-in .3s border;
}

#hero-video #playPauseButton:hover {
    border-color: #7d7b7b;
}

/* Three featurs styling */
#features {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* border: 2px solid #0069b9; */
    margin-top: 100px;
    width: 100%;
}

/* #features div:nth-child(3){
    padding: 10px 20px;
    border: 2px solid #9FB1D1;
} */

#features .feature {
    border: 1px solid #3f3e3e;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    padding: 20px;
}

#features .feature p:nth-child(1){
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    /* padding-bottom: 15px 5px; */

    /* font-weight: 600; */
}

#features .feature p:nth-child(2) {
    font-size: 15px;
    padding: 0px 18px 15px 0px;
    text-align: left;
    font-weight: bold;
    color: #9FB1D1;
}

#features .feature img {
    align-self: center;
    width: 350px;
    /* padding-bottom: 20px; */
}

#features .feature:hover {
    border-color: #0078d4;
    background-color: #1f1a1a;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    backdrop-filter: blur(15px);
}

/* Banner styling */
#banner {
    /* border: 2px solid #f10303; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 230px; */
    margin-top: 100px;
    padding: 0px 80px;
    width: 100%;
    height: 200px;
    background-image: url('./img/copilot-free-banner-bg-dark.webp');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

#banner p:nth-child(1){
    font-size: 24px;
    font-weight: 600;
    width: 300px;
    color: #ffffff;
}
/* #banner .right {
    width: 50%;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
} */
#banner .right p {
    font-size: 16px;
    font-weight: 400;
    /* border: 2px solid #ffffff; */
    width: 100%;
    padding-bottom: 20px;
}

#banner .right button {
    /* border: 2px solid #ffffff; */
    font-size: 13px;
    font-weight: bold;
    padding: 10px 30px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    color: #c3d0e5;
    background-color: #25292E;
    cursor: pointer;
    transition: ease .3s background-color, ease .3s color;
}

#banner .right button:hover {
    background-color: #0078d4;
    color: #ffffff;
}  

/* Code section styling */

.code-feature {
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin-top: 100px;
    /* border: 2px solid #f10303; */
    gap: 50px;
}

.code-feature img{
    width: 60%;
    border-radius: 30px;
}

.code-feature .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid #ffffff; */
}

.code-feature .text h3{
    font-size: 28px;
}

.code-feature .text p{
    font-size: 15px;
    color: #9FB1D1;
}

.code-feature .text a{
    color: #38a0f0;
}

/* Tagline styles */
#tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    text-align: center;
    /* border: 2px solid #ffffff; */
    width: 100%;
}

#tagline h2 {
    font-size: 30px;
    font-weight: 600;
    /* color: #7d7b7b; */
    margin-bottom: 10px;
}

#tagline p {
    font-size: 15px;
    width: 600px;
}
