@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: #edffeb;

}

#header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 70px;
    padding: 20px 100px;
}

#header nav ul{
    display: flex;
    gap: 60px;
    list-style: none;
}

#header nav ul li{
    font-weight: 600;
} 

#header nav ul a{
    text-decoration: none;
    color: #251f1f;
}

#main {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
    gap: 350px;
    margin: 0 100px;
    height: 80vh;
}

#main .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* height: 100vh; */
    width: 50%;
    /* border: 2px solid; */
}

#main .left h1{
    font-weight: 900;
    margin-bottom: 30px;
}

#main .left p{
    margin-bottom: 20px;
    font-size: 15px;
}

#main .left button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: #0e5f27;
    color: #ffffff;
}

/* #main .right{
    border: 2px solid;
} */

#main .right img:nth-child(1){
    width: 200px;
}

#main .right img:nth-child(2){
    width: 200px;
}

#main .right img:nth-child(3){
    width: 400px;
}
